* {
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    margin: 0;
    overflow-y: hidden;
  }
  
  .container {
    display: flex;
    flex-direction: column; /* This stacks children vertically */
    margin-top: 94px; /* Set this to the height of your header */
  }
  
  header {
    width: 100%; /* This ensures the header takes the full width */
    position: fixed; /* This will take the header out of the flow and fix it at the top */
    top: 0; /* Align the header at the top */
    left: 0; /* Align the header to the left */
    z-index: 1000; /* Ensures the header stays above other content */
    height: 94px; /* Example fixed height */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
  }
  
  
  .search-container {
    display: flex;
    align-items: center;
    justify-content: center; /* 水平方向に中央揃え */ 
    margin: 20px;
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid #ddd; /* Adjust color to match your design */
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 40%; /* 横幅を80%に設定 */
    max-width: 800px; /* 最大横幅を制限する */
    margin: auto; /* 上下のマージンを自動、左右は自動で中央揃え */
  }
  
  #search-box {
    border: none;
    outline: none;
    margin-right: 10px;
    font-size: 14px; /* テキストのサイズを設定 */
    flex-grow: 1;
    padding: 10px; /* 入力エリアの内側の余白を追加 */

  }
  
  #search-button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 16px; /* ボタンの内側の余白を設定 */
    margin-left: auto; /* ボタンを右に寄せる */

  }
  
  /* さらにスマートフォンなど小さい画面で見たときに適切に表示されるようにする */
  @media (max-width: 768px) {
    .search-container {
      width: 95%; /* スマートフォンでは横幅を少し広げる */
    }
  }
  

  .profile {
    width: 40px;
    height: 40px;
    background-color: #ddd;
    border-radius: 50%;
  }

  #map {
    position: fixed !important; /* Fixes the map */
    top: 94px; /* Same as header height */
    right: 0;
    width: 50%; /* Or whatever width you prefer for the map */
    height: calc(100vh - 94px); /* Full height minus the header */
  }
  
  .main-content {
    display: flex; /* This will create a flex container for main content */
    flex-grow: 1; /* Allows the container to fill the height */
    width: 100%; /* Ensures the main content uses the full width */
  }

  .listing-container {
    margin-top: 10px; /* This should match the height of the header */
    width: 50%; /* Listing takes up half the width */
    height: calc(100vh - 94px); /* Full height minus the header */
    flex-direction: column;
    overflow-y: auto; 
  }

  .listing {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns */
    gap: 10px; /* Space between cards */
    padding: 10px;
    background: #ffffff;
  }
  
  .card {
    height: 300px; /* Fixed height for all cards */
    margin: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 10px;
    font-size: 12px; 
  }

  .job-title {
    font-size: 16px; 
  }
  
  .card img {
    width: 100%;
    height: auto;
  }
  
  .description {
    padding: 5px 10px;
  }
  

  .close-popup-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background: #bebebe7d;
    border-radius: 20px;
    color: #8e8d8d;
    border: none;
    cursor: pointer;
}

/* フォーム全体のスタイル */
#job-form {
    display: flex;
    flex-direction: column;
    gap: 10px; /* 各フォームグループの間隔 */
  }
  
  /* 個々のフォーム項目のグループスタイル */
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  /* 入力フィールドのスタイル */
  #job-form input[type="text"],
  #job-form textarea,
  #job-form input[type="file"] {
    width: 100%; /* 入力フィールドを幅いっぱいに伸ばす */
    padding: 5px;
    margin-top: 5px; /* ラベルと入力フィールドの間隔 */
  }
  
  /* サブミットボタンのスタイル */
  #job-form input[type="submit"] {
    width: auto; /* ボタンの幅は自動で調整 */
    padding: 10px 20px;
    margin-top: 5px; /* フォームグループとボタンの間隔 */
    color: white;
    border: none;
    border-radius: 20px;
    background-color: #8d6ee9;
  }

  #job-form input[type="submit"] :hover {
    background-color: #8161e3; /* ホバー時の背景色 */
  }

  #post-job-button {
    background-color: #8d6ee9; /* ボタンの背景色 */
    color: white; /* テキストの色 */
    padding: 15px 32px; /* 上下左右のパディング */
    text-align: center; /* テキストを中央寄せに */
    display: inline-block; /* インラインブロック要素として表示 */
    font-size: 16px; /* フォントサイズ */
    cursor: pointer; /* ホバー時のカーソルをポインタに */
    border: none; /* 枠線なし */
    border-radius: 30px; /* 角の丸み */
    transition: transform 0.3s; /* トランジション効果を追加 */
  }
  
  #post-job-button:hover {
    background-color: #8161e3; /* ホバー時の背景色 */
    transform: translateY(-2px); /* 上に少し移動するアニメーション */
  }
  

  /* ポップアップのスタイル */
  .popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffffdb;
    border-radius: 20px;
    padding: 20px;
    z-index: 1000;
    width: 50%; /* ポップアップの幅を調整 */
  }
  
  .popup-active {
    display: block;
  }
  
  .customInfobox {
    background-color: rgba(0,0,0,0.5);
    color: white;
    max-width: 200px;
    border-radius: 10px;
    padding: 10px;
    font-size:12px;
    pointer-events:auto !important;
}
.customInfobox .title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

#pagination-controls {
  text-align: center;
  align-self: center;
  margin-top: 10px; /* Adjust as needed for spacing */
  margin-bottom: 20px; /* Adjust as needed for spacing */

}

#pagination-controls button {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  font-size: 16px; /* Adjust as needed */
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  width: 40px; /* Fixed width for all buttons */
  height: 40px; /* Fixed height for all buttons */
  display: inline-block;
  text-align: center;
}

#pagination-controls .active-page {
  background-color: #000;
  color: #fff;
}

#pagination-controls .page-number {
  background-color: #fff;
  color: #000;
}

#pagination-controls button:hover {
  background-color: #f0f0f0; /* Light grey background on hover */
  color: #000;
}

